<a href="https://colab.research.google.com/github/siddharthchd/Applied_Data_Science_with_Python/blob/main/Introduction_to_Data_Science_in_Python/week2/dfQuerying.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

df = pd.read_csv('Admission_Predict.csv', index_col = 0)
df.columns = [x.lower().strip() for x in df.columns]
df.head()

            gre score  toefl score  ...  research  chance of admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
5                 314          103  ...         0             0.65

[5 rows x 8 columns]

In [6]:
admit_mask = df['chance of admit'] > 0.7
admit_mask

Serial No.
1       True
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398     True
399    False
400     True
Name: chance of admit, Length: 400, dtype: bool

In [8]:
df.where(admit_mask).head()

            gre score  toefl score  ...  research  chance of admit
Serial No.                          ...
1               337.0        118.0  ...       1.0             0.92
2               324.0        107.0  ...       1.0             0.76
3               316.0        104.0  ...       1.0             0.72
4               322.0        110.0  ...       1.0             0.80
5                 NaN          NaN  ...       NaN              NaN

[5 rows x 8 columns]

In [9]:
df.where(admit_mask).dropna().head()

            gre score  toefl score  ...  research  chance of admit
Serial No.                          ...
1               337.0        118.0  ...       1.0             0.92
2               324.0        107.0  ...       1.0             0.76
3               316.0        104.0  ...       1.0             0.72
4               322.0        110.0  ...       1.0             0.80
6               330.0        115.0  ...       1.0             0.90

[5 rows x 8 columns]

In [10]:
df[df['chance of admit'] > 0.7].head()

            gre score  toefl score  ...  research  chance of admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
3                 316          104  ...         1             0.72
4                 322          110  ...         1             0.80
6                 330          115  ...         1             0.90

[5 rows x 8 columns]

In [11]:
df['gre score'].head()

Serial No.
1    337
2    324
3    316
4    322
5    314
Name: gre score, dtype: int64

In [12]:
df[df['gre score'] > 320].head()

            gre score  toefl score  ...  research  chance of admit
Serial No.                          ...
1                 337          118  ...         1             0.92
2                 324          107  ...         1             0.76
4                 322          110  ...         1             0.80
6                 330          115  ...         1             0.90
7                 321          109  ...         1             0.75

[5 rows x 8 columns]

In [13]:
(df['chance of admit'] > 0.7) and (df['chance of admit'] < 0.9)

ValueError: ignored

In [15]:
(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: chance of admit, Length: 400, dtype: bool

In [16]:
df['chance of admit'] > 0.7 & df['chance of admit'] < 0.9

TypeError: ignored

In [17]:
df['chance of admit'].gt(0.7) & df['chance of admit'].lt(0.9)

Serial No.
1      False
2       True
3       True
4       True
5      False
       ...
396     True
397     True
398    False
399    False
400    False
Name: chance of admit, Length: 400, dtype: bool

In [18]:
df['chance of admit'].gt(0.7).lt(0.9)

Serial No.
1      False
2      False
3      False
4      False
5       True
       ...
396    False
397    False
398    False
399     True
400    False
Name: chance of admit, Length: 400, dtype: bool