<a href="https://colab.research.google.com/github/siddharthchd/Applied_Data_Science_with_Python/blob/main/Introduction_to_Data_Science_in_Python/week2/lessonExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv('presidents.csv')
df.head()

   #          President  ...          Died                 Age
0  1  George Washington  ...  Dec 14, 1799  67 years, 295 days
1  2         John Adams  ...   Jul 4, 1826  90 years, 247 days
2  3   Thomas Jefferson  ...   Jul 4, 1826   83 years, 82 days
3  4      James Madison  ...  Jun 28, 1836  85 years, 104 days
4  5       James Monroe  ...   Jul 4, 1831   73 years, 67 days

[5 rows x 8 columns]

In [3]:
df["First"] = df['President']
df['First'] = df['First'].replace("[ ].*", "", regex = True)
df.head()

   #          President  ...                 Age   First
0  1  George Washington  ...  67 years, 295 days  George
1  2         John Adams  ...  90 years, 247 days    John
2  3   Thomas Jefferson  ...   83 years, 82 days  Thomas
3  4      James Madison  ...  85 years, 104 days   James
4  5       James Monroe  ...   73 years, 67 days   James

[5 rows x 9 columns]

In [4]:
del(df['First'])

In [5]:
def splitname(row):
  
  row['First'] = row['President'].split(" ")[0]
  row['Last'] = row['President'].split(" ")[-1]

  return row

df = df.apply(splitname, axis = 'columns')
df.head()

   #          President  ...   First        Last
0  1  George Washington  ...  George  Washington
1  2         John Adams  ...    John       Adams
2  3   Thomas Jefferson  ...  Thomas   Jefferson
3  4      James Madison  ...   James     Madison
4  5       James Monroe  ...   James      Monroe

[5 rows x 10 columns]

In [6]:
del(df['First'])
del(df['Last'])

In [7]:
pattern = "(^[\w]*)(?:.* )([\w]*$)"
df['President'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [8]:
pattern = "(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)"
names = df['President'].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [10]:
df['First'] = names['First']
df['Last'] = names['Last']
df.head()

   #          President  ...   First        Last
0  1  George Washington  ...  George  Washington
1  2         John Adams  ...    John       Adams
2  3   Thomas Jefferson  ...  Thomas   Jefferson
3  4      James Madison  ...   James     Madison
4  5       James Monroe  ...   James      Monroe

[5 rows x 10 columns]

In [11]:
df['Born'] = df['Born'].str.extract("([\w]{3} [\w]{1,2}, [\w]{4})")
df['Born'].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: Born, dtype: object