<a href="https://colab.research.google.com/github/siddharthchd/Applied_Data_Science_with_Python/blob/main/Introduction_to_Data_Science_in_Python/week2/queryingseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

students_classes = {'Alice' : 'Physics', 
                    'Jack' : 'Chemistry',
                    'Molly' : 'English',
                    'Sam' : 'History'}
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [2]:
s.iloc[3]

'History'

In [4]:
s.loc['Molly']

'English'

In [6]:
class_code = {99 : 'Physics',
              100 : 'Chemistry',
              101 : 'English',
              102 : 'History'}
s = pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [7]:
s[0]

KeyError: ignored

In [8]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
  total += grade
print(total / len(grades))

75.0

In [9]:
import numpy as np

total = np.sum(grades)
print(total / len(grades))

75.0

In [10]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))
numbers.head()

0    552
1    718
2    514
3    204
4    554
dtype: int64

In [11]:
len(numbers)

10000

In [18]:
%%timeit -n 100
total = 0
for number in numbers:
  total += number
total / len(numbers)

100 loops, best of 3: 1.25 ms per loop

In [17]:
%%timeit -n 100
total = np.sum(numbers)
total / len(numbers)

100 loops, best of 3: 74.9 Âµs per loop

In [19]:
numbers.head()

0    552
1    718
2    514
3    204
4    554
dtype: int64

In [20]:
numbers += 2
numbers.head()

0    554
1    720
2    516
3    206
4    556
dtype: int64

In [22]:
s = pd.Series([1, 2, 3])
s.loc['History'] = 102
s

0            1
1            2
2            3
History    102
dtype: int64

In [23]:
students_classes = pd.Series({'Alice' : 'Physics',
                              'Jack' : 'Chemisty',
                              'Molly' : 'English', 
                              'Sam' : 'History'})
students_classes

Alice     Physics
Jack     Chemisty
Molly     English
Sam       History
dtype: object

In [24]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index = ['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [26]:
all_students_classes = students_classes.append(kelly_classes)
all_students_classes

Alice       Physics
Jack       Chemisty
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object