In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Timestamp('9/1/2019 10:05am')

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [4]:
pd.Timestamp(2013, 12, 20, 0, 0).isoweekday()

5

In [5]:
pd.Timestamp(2019, 12, 20, 5, 2, 23).second

23

### Period

In [6]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [8]:
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [9]:
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

### DatetimeIndex and PeriodIndex

In [10]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [11]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [14]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### Converting to Datetime

In [17]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   82  70
Aug 29, 2014  28  99
2015-06-26    66  75
7/12/16       82  47

In [18]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  82  70
2014-08-29  28  99
2015-06-26  66  75
2016-07-12  82  47

In [19]:
pd.to_datetime('4.7.12', dayfirst = True)

Timestamp('2012-07-04 00:00:00')

### Timedelta

In [20]:
pd.Timestamp('9/2/2016') - pd.Timestamp('9/1/2016')

Timedelta('1 days 00:00:00')

In [21]:
pd.Timestamp('9/2/2016 8:10am') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Offset

In [22]:
pd.Timestamp('9/4/2016').weekday()

6

In [23]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [24]:
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

### Working with Dates

In [25]:
dates = pd.date_range('10-01-2016', periods = 9, freq = '2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [26]:
pd.date_range('10-01-2016', periods = 9, freq = 'B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [27]:
# quarter start in June
pd.date_range('04-01-2016', periods = 12, freq = 'QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [31]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02       98      122
2016-10-16       99      123
2016-10-30      104      118
2016-11-13      113      117
2016-11-27      109      127
2016-12-11      115      120
2016-12-25      118      121
2017-01-08      127      123
2017-01-22      128      125

In [34]:
df.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [35]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      1.0      1.0
2016-10-30      5.0     -5.0
2016-11-13      9.0     -1.0
2016-11-27     -4.0     10.0
2016-12-11      6.0     -7.0
2016-12-25      3.0      1.0
2017-01-08      9.0      2.0
2017-01-22      1.0      2.0

In [36]:
df.resample('M').mean()

               Count 1  Count 2
2016-10-31  100.333333    121.0
2016-11-30  111.000000    122.0
2016-12-31  116.500000    120.5
2017-01-31  127.500000    124.0

In [37]:
df['2017']

            Count 1  Count 2
2017-01-08      127      123
2017-01-22      128      125

In [39]:
df['2016-12']

            Count 1  Count 2
2016-12-11      115      120
2016-12-25      118      121

In [40]:
df['2016-12':]

            Count 1  Count 2
2016-12-11      115      120
2016-12-25      118      121
2017-01-08      127      123
2017-01-22      128      125

In [41]:
df['2016']

            Count 1  Count 2
2016-10-02       98      122
2016-10-16       99      123
2016-10-30      104      118
2016-11-13      113      117
2016-11-27      109      127
2016-12-11      115      120
2016-12-25      118      121